/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




/* responsive styles */
@media screen and (max-width: 576px) {
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-links {
    display: none;
  }
  .nav-btn {
    display: none;
  }

  .banner{
    height: 500px;
  }
  .hero-circle{
    width: 200px;
    top: 225px;
  }
  .microphone{
    width: 60px;
    top: 225px;
  }
  .status{
    top: 295px;
    padding: 3px 10px;
    font-size: small;
    transform: translate(-40px, 0);
  }

  .banner-content{
    top: 350px;
  }
  .tech-wave{
    font-size: 40px;
  }

  .hero-bg{
    height: 360px;
  }
  
  .about-podcast-section{
    padding: 0 30px;
  }
  .about-podcast-section-description{
    width: 100%;
  }

  .about-podcast-heading{
    font-size: 32px;
  }
  .about-section-hr{
    margin: 30px 0;
  }


  .statics-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .statistic-container h1{
    font-size: 40px;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px) {
  nav {
    padding-left: 30px;
    padding-right: 30px;
  }
  .menubar {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .menubar {
    display: none;
  }
}
